<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc:war">
    <output-path>E:/adanac_demo/spring-learning-master/spring-mvc/target</output-path>
    <root id="archive" name="spring-mvc-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mvc:war exploded" />
    </root>
  </artifact>
</component>